$purple-color: #3734db;
$border-color: #220e35;
$darkgray-color: #333;
$white-color: #fff;
$black-color: #000;

$font-family-base: Roboto, sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 20px;

$breakpoint: 768px;
